/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #002147;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    font-size: 1rem;
    margin: 5px 0;
    color: white;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
/* Dropdown-Menü */
nav .dropdown {
  display: inline-block;
  position: relative;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  z-index: 1000;
  border-radius: 4px;
}

nav .dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

nav .dropdown-content a:hover {
  background-color: #666;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

footer {
    background-color: #002147;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
