/* Styling für Header */
/* Header Styling */
header {
    background-color: #002147;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stelle sicher, dass der Text untereinander angeordnet ist */
    align-items: center;    /* Zentriert den Text im Header */
    justify-content: center;
    height: 80px;
}

/* Logo im Header */
header img {
    height: 50px;
    position: absolute;
    left: 20px;
}

/* Titel und Untertitel im Header */
header h1 {
    margin: 0;
    padding: 0;
}

header p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;  /* Optional: Du kannst die Schriftgröße des Untertitels hier anpassen */
}

/* Styling für das Nav-Menü */
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 50px;  /* Nav-Menü wird 70px unter dem Header angezeigt */
    left: 0;
    width: 100%;
    z-index: 999;  /* Nav bleibt unter dem Header */
    margin: 0;
}

/* Nav-Links */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Dropdown-Menü */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    width: auto;
    white-space: nowrap;
    padding: 5px 10px;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Abstand für den Content */
body {
    margin: 0;
    padding-top: 150px;  /* Startet den Content direkt unter dem Header und dem Menü */
}

/* Sicherstellen, dass der Inhalt nicht von Header und Nav überlappt wird */
main {
    padding-top: 20px;  /* Padding für den Contentbereich */
}
* {
    font-family: 'Roboto', sans-serif !important;
}
/* Footer */
footer {
    background-color: #002147;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
